body {
  background-image: url('./Assets/background.png');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  body {
    background-size: cover;
    background-position: center;
  }
}
