.allCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 600;
  height: auto;
}

.div_empty {
  display: flex;
  justify-content: center;
  align-items: center;
}
