.detailed_card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.container_detail {
  background-color: rgb(128, 128, 128);
  color: white;
}

.row {
  padding: 3%;
}

.columns {
  border-right: 2px solid rgb(49, 49, 49);
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last_column {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .row {
    flex-direction: column;
    border: none;
  }
  .columns {
    border: none;
    border-bottom: 2px solid rgb(49, 49, 49);
  }
  .last_column {
    border: none;
  }
}
